<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
    
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="{{ url_for('static', filename='logo1.png') }}" alt="">
            <div class="about-head">
                <h1>About Us</h1>
                <h4>EXCEL HUB</h4>
                <p>Welcome to EXCEL Hub, your one-stop destination for growth, inspiration, and connection. Our mission is to create a space where individuals can come together to learn, explore, and achieve their goals.
                    Founded with a vision to empower communities, we offer state-of-the-art facilities and an inclusive environment that fosters creativity and collaboration. Whether you're looking for a place to work, learn, or unwind, Haven Hub is here to support you every step of the way.
                    Join us on this journey to build a stronger, more connected community.
                </p>
                <a href="http://localhost:5000/login"><button class="btn">GET STARTED</button></a>
            </div>
        </div>

    </section>

</body>
</html> 