<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
       
    </style>
 
</head>
<body>
    <header>
        <div>
            <nav class="navbar">
                <ul>
                    <li><a href="http://localhost:5000/about">ABOUT</a></li>
                    <li><a href="http://localhost:5000/login">LOGIN</a></li>
                    <li><a href="http://localhost:5000/signup">SIGN UP</a></li>
                    <!-- <li><a href="facilities.html">FACILITIES</a></li> -->
                    <li><a href="http://localhost:5000/contact us">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="joinbutton_cont">
        <button class="getstarted"><a href="http://localhost:5000/signup">GET STARTED</a></button>
    </div>
</body>
</html>